$ancho1: 5em * 2; //Operacion en la variable
$alto1: 3em * 2;
$darkgold: rgba(184, 135, 11, 0.7);
$lyllow: rgba(255, 255, 224, 0.7);
$x2: scale(1.5);
$s1-8: 1.8s ease;

@keyframes colors {
    0% {
        background-color: $darkgold;
        transform: scale(1);
    }
    50% {
        background-color: $lyllow;
        color: crimson;
        transform: scale(1.1);
    }
    100% {
        background-color: $darkgold;
        transform: scale(1) rotate(360deg);
    }
}

.vidTuto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .anim {
        h2 {
            background: #000;
            animation-duration: 5s;
            animation-name: colors;
            animation-iteration-count: infinite;
        }
    }
}

@for $i from 1 through 6 {
    //aqui función BUCLE
    .tuto-#{$i} {
        background-color: rgba(128, 128, 128, 0.712);
        width: $ancho1;
        height: $alto1;
        font-size: 2em;
        margin: 1em;
        color: rgb(201, 204, 13);
        font-family: lobster;
        border: 0.3em solid #daa76d;
        border-radius: 1em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.anim:hover {
    transform: scale(1.1);
    transition-duration: 2s;
}
